*{
    box-sizing: border-box;
}

body{
    background-color: #bde0fe;
}

/* heading text style */
h1{
    font-size: 2rem;
    text-align: center;
}

/* add-task Division that contains input box and a span */
.add-task{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}

/* input box for adding task */
.inputTask{
    border: none;
    border-radius: 2rem;
    padding: 1rem;
    margin-right: 1.5rem;
    font-size: 1rem;
}

/* button to add task */
.addBtn{
    padding: 0.9rem 1.3rem;
    background-color: #219ebc;
    color: white;
    font-weight: bold;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: all .2s;
}

.addBtn:hover{
    transform: scale(1.1);
}


/* div containing unorderedlist */
.list{
    margin: 2rem 18rem;
}

.list ul{
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
    cursor: pointer;
    position: relative;
    padding: 1.2rem .8rem 1.2rem 4rem;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    border-radius: .3rem;
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    user-select: none;
}
  
ul li:nth-child(odd) {
    background: #f9f9f9;
}

ul li:hover {
    background: #ddd;
}
  
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}
  
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 20px;
    left: 20px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* Remove task button */
.close {
    border-radius: .3rem;
    position: absolute;
    right: 0;
    top: 0;
    padding: 1.2rem 1.6rem;
    
}
  
.close:hover {
    background-color: #f44336;
    color: white;
}

/* Notification / popup */

.notification {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    /* display: none; */
}

/* Animation for popup */
@keyframes slideIn {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

.notification.show {
    animation: slideIn 1s ease-in-out;
}


  

/* Using media query to add responsiveness in webpage so that content will fit according to the size of window */
@media screen and (max-width: 1080px) {
    .list{
        margin: 2rem 8rem;
    }
}